$primary-color: #444444;
$secondary-color: #F4A582;
$hover-color: #F4A582;
$title-font: var(--font-bree-serif), serif;
$secondary-font: var(--font-oleo-script), cursive;
$body-font: var(--font-outfit), sans-serif;
$msg-font: 'Georgia', serif;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
//$background-color: #FFFFE4;
$background-color: #fdf5e6;
$secondary-background-color: #F5DEB3;
$border-color: #ccc;
$button-text-color: #fff;