@import '@/styles/_variables';

.aboutMe {
    background-color: $secondary-background-color;

    // Hero Section
    .hero {
        position: relative;
        text-align: center;

        .heroContainer {
            position: relative;
            width: 100%;
            height: auto;
        }

        .heroImage {
            width: 100%;
            height: auto;
            max-height: 300px;
        }

        .heroTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        }
    }

    // Story Section
    .story {
        padding: 2rem 1.5rem;

        .sectionTitle {
            text-align: center;
            font-family: $title-font;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .storyContainer {
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;
            background-color: $background-color;
            padding: 1.5rem;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

            @media (min-width: 768px) {
                flex-direction: row;
            }

            .storyText {
                flex: 1;
                font-size: 1.3rem;
                line-height: 1.6;
                font-family: 'Georgia', serif;

                p {
                    margin-bottom: 1rem;
                }
            }

            .storyImage {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    transition: transform 0.5s;

                        &:hover {
                            transform: translateY(-5px) scale(1.05);
                        }
                }
            }
        }
    }

    // Experience Section
    .experience {
        padding: 2rem 1.5rem;

        .sectionTitle {
            text-align: center;
            font-family: $title-font;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .experienceContainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: $background-color;
            padding: 1.5rem;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

            @media (min-width: 768px) {
                flex-direction: row;
            }

            .experienceImage {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    transition: transform 0.5s;

                        &:hover {
                            transform: translateY(-5px) scale(1.05);
                        }
                }
            }

            .experienceText {
                flex: 2;
                font-size: 1.3rem;
                line-height: 1.6;
                color: #333;

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                    color: $primary-color;
                }

                p {
                    margin-bottom: 1rem;
                }

                ul {
                    margin: 1rem 0;
                    padding-left: 1.5rem;

                    li {
                        margin-bottom: 0.5rem;
                        list-style: disc;
                        color: #333;
                    }
                }
            }
        }
    }

    // What I Do Best Section
    .whatIDoBest {
        text-align: center;
        padding: 2rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            .card {
                padding: 1.5rem;
                border: 1px solid $secondary-color;
                border-radius: 10px;
                text-align: center;
                background-color: $background-color;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s, box-shadow 0.3s;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
                }

                .icon {
                    font-size: 3rem;
                    color: $primary-color;
                    margin-bottom: 1rem;
                }

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    color: $primary-color;
                }

                p {
                    line-height: 1.6;
                    font-size: 1.1rem;
                    color: #666;
                }
            }
        }
    }

    .testimonials {
        text-align: center;
        padding: 4rem 2rem 10rem 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;

            .comment {
                flex: 1;
                margin: 0 1rem;
                font-size: 1.2rem;
                font-style: italic;
                color: $primary-color;
                max-width: 600px;

                @media (max-width: 768px) {
                    font-size: 1rem;
                    max-width: 90%;
                }

                @media (max-width: 480px) {
                    font-size: 0.9rem;
                }
            }

            .prev,
            .next {
                background: none;
                color: $primary-color;
                font-size: 2rem;
                border: none;
                cursor: pointer;
                padding: 0.5rem;

                &:hover {
                    color: $hover-color;
                }

                @media (max-width: 768px) {
                    font-size: 1.5rem;
                }

                @media (max-width: 480px) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.footer {
    background-color: $secondary-background-color;
}