@import '@/styles/_variables';

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply default styles to the body */
body {
    font-family: $body-font;
    background-color: $background-color;
    color: $primary-color;
    line-height: 1.6;
}

/* Titles */
h1 {
    font-family: $title-font;
    color: $secondary-color;
}

/* Page Continer (main + footer) */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Pushes the footer to the bottom */
}

/* Links */
a {
    color: $primary-color;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $secondary-color;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}