@import '@/styles/_variables';

.home {
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 4rem;

        .hero_images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
            gap: 2rem;
            margin: 2rem;
            padding: 2rem;


            .image_wrapper {
                position: relative;
                width: 100%;
                max-width: 350px;
                height: 400px;
                overflow: hidden;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
                }

                .image {
                    opacity: 0.9;
                    transition: opacity 0.3s ease;

                    &:hover {
                        opacity: 1;
                    }
                }

            }

            .center_image {
                @media (max-width: 480px) {
                    opacity: 0;
                    box-shadow: none;
                }
            }
        }

        .short_intro {
            position: absolute;
            z-index: 2;
            text-align: center;
            background: rgba(255, 255, 228, 0.8);
            padding: 1.5rem;
            border-radius: 12px;
            max-width: 70%;
            top: 55%;
            transform: translateY(-50%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            @media (max-width: 480px) {
                top: 50%;
                padding: 1rem;
            }

            h2 {
                font-family: $title-font;
                font-size: 2.3rem;
                margin-bottom: 0.8rem;
                color: $primary-color;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }

            p {
                font-family: $body-font;
                font-size: 1.4rem;
                font-weight: 700;
                color: lighten($primary-color, 10%);

                @media (max-width: 768px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .hero {
            margin-top: 2rem;

            .hero_images {
                gap: 1rem;

                .image_wrapper {
                    max-width: 300px;
                    height: 350px;
                }
            }

            .short_intro {
                max-width: 90%;
            }
        }
    }

    @media (max-width: 480px) {
        .hero_images .image_wrapper {
            max-width: 100%;
            height: 250px;

            .center_image {
                opacity: 0;
                box-shadow: none;
            }
        }
    }
}

.featuredServices {
    padding: 50px 20px;
    background-color: $secondary-background-color;

    h3 {
        text-align: center;
        color: $primary-color;
        text-shadow: $text-shadow;
        -webkit-text-stroke: 0.1px $secondary-color;
        font-weight: 900;
        font-family: $title-font;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .services {
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;

        .service {
            text-align: center;
            max-width: 300px;

            img {
                width: 50%;
                height: 100px;
                object-fit: cover;
                border-radius: 8px;
                transition: transform 0.3s;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                &:hover {
                    transform: scale(1.05);
                }
            }

            h4 {
                margin-top: 10px;
                font-size: 1.2rem;
            }

            p {
                margin-top: 5px;
                color: $primary-color;
            }
        }
    }
}

.callToAction {
    padding: 50px 20px;
    background-color: $background-color;
    text-align: center;

    h3 {
        color: $primary-color;
        text-shadow: $text-shadow;
        -webkit-text-stroke: 0.1px $secondary-color;
        font-weight: 900;
        font-family: $title-font;
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        color: $primary-color;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        .ctaButton {
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;

            &.primaryButton {
                background-color: $primary-color;
                color: $button-text-color;

                &:hover {
                    background-color: $hover-color;
                    border: 2px solid $border-color;
                }
            }

            &.secondaryButton {
                background-color: $primary-color;
                color: $button-text-color;

                &:hover {
                    background-color: $hover-color;
                    border: 2px solid $border-color;
                }
            }
        }
    }
}