@import '@/styles/_variables';

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;

        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: none;
            color: #fff;
            font-size: 2rem;
            border: none;
            cursor: pointer;
            padding: 0.5rem;

            @media (max-width: 768px) {
                top: 1rem;
                right: 1rem;
                font-size: 1.5rem;
            }

            @media (max-width: 480px) {
                top: 0.5rem;
                right: 0.5rem;
                font-size: 1.2rem;
            }
        }

        .prev,
        .next {
            background: none;
            color: #fff;
            font-size: 2.5rem;
            border: none;
            cursor: pointer;
            margin: 0 1rem;

            @media (max-width: 768px) {
                font-size: 2rem;
            }

            @media (max-width: 480px) {
                font-size: 1.5rem;
                margin: 0 0.5rem;
            }
        }

        .prev {
            position: absolute;
            left: 1rem;
            padding: 0.5rem;

            @media (max-width: 768px) {
                left: 0.5rem;
            }

            @media (max-width: 480px) {
                left: 0.5rem;
            }
        }

        .next {
            position: absolute;
            right: 1rem;
            padding: 0.5rem;

            @media (max-width: 768px) {
                right: 0.5rem;
            }

            @media (max-width: 480px) {
                right: 0.5rem;
            }
        }

        .image {
            max-width: 80%;
            max-height: 80%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

            @media (max-width: 768px) {
                max-width: 90%;
                max-height: 70%;
            }

            @media (max-width: 480px) {
                max-width: 95%;
                max-height: 60%;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }

    @media (max-width: 480px) {
        padding: 0.5rem;
    }
}